# Virtual Environment
.venv/
env/
venv/

# Environment variables
.env

# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
*.sqlite3

# Media and static directories
media/

# IDE files
.vscode/
.idea/
